
body {
  margin: 0;
  padding: 0;
  font-family:Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  height: 150vh;
}

.header,
.footer {
  background-color: #1F2937;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
  margin: 0;
}

.header p {
  color: #E5E7EB;
  font-size: 18px;
}

.header button {
  background-color: #3882F6;
  font-size: 18px;
  color: white;
  padding: 4px 16px;
  border: 2px solid #3882F6;
  border-radius: 8px;
}

.header-container {
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
  gap: 80px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.right-links a {
  color: #e5e7eb;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 0px;
}

.header-card {
  height: 320px;
  display: flex;
  gap: 100px;
  padding: 0 120px;
}

.header-card .text-block {
  flex-basis: 200px;
  flex-grow: 1;
}

.header-image {
  background-color: rgb(139, 140, 149);
  color: white;
  height: 200px;
  flex-basis: 200px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  flex-grow: 1;
}

.footer {
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
}

.icon {
  width: 160px;
  height: 160px;
  border: 3px solid #3882F6;
  border-radius: 8px;
}

.icons-header {
  font-size: 36px;
  font-weight: 600;
  color: #1F2937;
}

.caption{
  color: #454545;
  font-size: 18px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 120px 200px 200px;
  gap: 60px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.card {
  flex-basis: 160px;
}

.caption{
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 125px 250px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #434649;
}

.author {
  font-weight: 600;
  align-self: flex-end;
  padding-right: 80px;
}

.alert-card{
  background-color: #3882F6;
  border: 4px solid #3882F6;
  border-radius: 8px;
  margin: 100px 160px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-card .alert-text {
  color: #F9FAF8;
}

.alert-text h6 {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

.alert-card button {
  background-color: #3882F6;
  font-size: 16px;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  padding: 0px 24px;
  height: 30px
}